

/* <!-- Favicon icon -->
    <link rel="icon" href="/img/dashboardkit/image/favicon.svg" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="fonts/dashboardkit/feather.css">
    <link rel="stylesheet" href="fonts/dashboardkit/fontawesome.css">
    <link rel="stylesheet" href="fonts/dashboardkit/material.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="css/dashboardkit/style.css" id="main-style-link"> */

.logo {
    max-height: 100rem;
    max-width: 13rem;
    border-radius: 5px;
}

.logo-store {
    max-height: 100rem;
    max-width: 25rem;
    border-radius: 5px;
}

.font-color-white {
    color: white;
}

.cart-bg-black {
    background-color: #15161D;
}

.panel-black>.panel-heading {
    color: #15161D;
    background-color: #1e1f29;
    border-color: #15161D;
}

.panel-black {
    border-color: #15161D;
}

.btn-red{
    background-color: #D10024;
    color: #fff;
}

.btn-red-icon {
    font-size: 13px;
}

.margin-bottom{
    margin-bottom: 25px;
}